<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Tienda Piloto</title>
<!-- END_HIGHLIGHT -->
  <!-- <label id="code.slt"/> --><%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
</head>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/breadcrumb" %>
<body class="<%= controller.controller_name %>">
  <div class="content">
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %>
      </div>
    </div>
    <div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
  </div>
  </div>
<!-- END_HIGHLIGHT -->
</body>
  <%= render partial: "layouts/footer" %>
</html>
